name: Release Tribot Dax Walker
on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
      
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make gradlew executable
        run: chmod +x ./gradlew
      
      - name: Publish with Gradle
        run: ./gradlew publish -PtribotDeployToken=${{ secrets.MavenDeployKey }} -Pversion=${{ github.event.release.tag_name }}
